@charset "UTF-8";
/*$lightgrey: mix($color1, white, 20%);*/
/*$lightgrey: lighten($color1, 80%);*/
@import url(Fira/fira.css);
/*@import "font-awesome.css";*/
@import url(source-sans-pro/source-sans-pro.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

strong, th {
  font-weight: bold; }

em, i {
  font-style: italic; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*
    ## CSS transition mixin

    USAGE:
    1. No arguments:
        @include transition(); // only use defaults

    2. One argument:
        // only specify property
        @include transition(background-color);

    3. Two arguments:
        // specify property & easing function
        @include transition(background-color, linear);

    4. Three arguments:
        // specify property, easing function & duration
        @include transition(background-color, linear, 0.5s);

    5. Four arguments:
        // specify property, easing function, duration & delay
        @include transition(background-color, linear, 0.5s, 3s);

    6. Named arguments: specify non-defaults
        @include transition($timing: linear, $delay: 3s);
*/
/* mixin for retina background images */
body {
  background: #f2f2f2;
  color: #333;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  /*letter-spacing: -0.025em;*/
    /*
    &:after {
        width: 60 * $unit;
        background: yellow;
        position: fixed;
        left: 50%;
        top: 0;
        bottom: 0;
        margin-left: -30 * $unit;
        content: "";
        opacity: 0.1;
        border: 0 solid red;
        border-right-width: 2 * $unit;
        border-left-width: 2 * $unit;
    }

    &:before {
        width: 120 * $unit;
        background: yellow;
        position: fixed;
        left: 50%;
        top: 0;
        bottom: 0;
        margin-left: -60 * $unit;
        content: "";
        opacity: 0.1;
        border: 0 solid red;
        border-right-width: 2 * $unit;
        border-left-width: 2 * $unit;
    }
    */ }

hr {
  width: auto;
  border: none;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: 24px 0; }

a {
  color: #E97F02;
  text-decoration: none; }
  a:visited {
    color: #e93675; }
  a:hover {
    color: #780d33; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 8px 0;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 700; }

h1 {
  color: #490A3D;
  font-size: 48px;
  line-height: 56px;
  /*font-size: 2 * 1.5 * 1.5 * 1.5 * $unit;*/ }

h2 {
  color: #BD1550;
  font-size: 32px;
  line-height: 40px;
  /*font-size: 2 * 1.5 * 1.5 * $unit;*/ }

h3 {
  color: #333;
  color: #24051e;
  font-size: 24px;
  line-height: 32px;
  /*font-size: 2 * 1.5 * $unit;*/
  padding-bottom: 0; }

h4 {
  color: #333;
  font-size: 16px;
  line-height: 24px;
  /*font-size: 2 * $unit;*/
  font-weight: bold; }

p {
  margin: 0;
  padding: 8px 0; }

pre, code {
  background: #f2f2f2;
  font-family: 'menlo', 'monaco', 'andale mono', monospace;
  letter-spacing: 0;
  font-size: 14px;
  font-size: 0.8em; }

code {
  white-space: nowrap;
  padding: 0 8px; }

small {
  font-size: .5em; }

.prompt {
  color: #999; }

pre {
  position: relative;
  padding: 16px; }
  pre[data-filename]:before {
    content: "file: " attr(data-filename);
    background: black;
    color: #f2f2f2;
    display: block;
    opacity: 0.25;
    margin: -16px;
    margin-bottom: 12px;
    padding: 0 8px;
    line-height: 24px;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    text-align: center;
    /*margin: 0;*/ }
  pre.pre-terminal {
    background: #333; }

.pre-dark {
  background: rgba(0, 0, 0, 0.25);
  color: #f2f2f2; }

.code-comment {
  opacity: 0.4; }

.inner {
  width: 960px;
  margin: 0 auto; }

.button {
  display: inline-block;
  padding: 8px 16px;
  background: #E97F02;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 4px; }
  .button:visited {
    color: #f2f2f2; }
  .button:hover {
    background: #BD1550;
    color: white;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5); }

.button-small {
  padding: 4px 16px;
  background: #E97F02;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 4px; }
  .button-small:visited {
    color: #f2f2f2; }
  .button-small:hover {
    background: #BD1550;
    color: white;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5); }

.button-cta {
  background: #8A9B0F;
  color: white;
  font-weight: bold; }
  .button-cta:visited {
    color: white; }
  .button-cta:hover {
    background: #c8e116;
    /*color: white;*/
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5); }

.main-nav {
  background: #BD1550;
  /*position: fixed;*/
  /*top: -7 * $unit;;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*z-index: 10;*/ }
  .main-nav .inner {
    position: relative; }
  .main-nav + * {
    /*margin-top: 7 * $unit;*/ }

.main-nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }
  .main-nav-menu > li {
    display: inline-block;
    margin: 0; }
    .main-nav-menu > li > a {
      color: #FFF;
      font-weight: bold;
      display: block;
      padding: 16px 24px;
      border-bottom: 0 solid white;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-delay: 0;
      -moz-transition-delay: 0;
      transition-delay: 0;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      transition-duration: 0.1s; }
      .main-nav-menu > li > a:hover {
        padding-bottom: 8px;
        border-bottom-width: 8px; }
  .main-nav-menu > .main-nav-menu-selected {
    background: #24051e; }
    .main-nav-menu > .main-nav-menu-selected > a:hover {
      padding: 16px 24px;
      border: none; }
  .main-nav-menu > .main-nav-github {
    position: absolute;
    left: 0; }

.sub-nav {
  background: #e7e7e7;
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -480px;
  z-index: 2; }

.sub-nav-menu {
  list-style: none;
  margin: 24px 0;
  padding: 0;
  text-align: left; }
  .sub-nav-menu > li {
    margin: 0; }
    .sub-nav-menu > li > a {
      color: #E97F02;
      font-weight: bold;
      display: block;
      padding: 16px 32px;
      /*@include transition($duration: 0.1s);*/
      /*border-left: 0 solid white;*/ }
      .sub-nav-menu > li > a:hover {
        background: #FFF;
        /*padding-left: 2 * $unit;*/
        /*border-left-width: $unit;*/ }
    .sub-nav-menu > li > ul {
      list-style: none;
      margin: 0;
      padding: 0 0 16px;
      text-align: left; }
      .sub-nav-menu > li > ul > li {
        margin: 0; }
        .sub-nav-menu > li > ul > li > a {
          color: black;
          display: block;
          padding: 0px 48px; }
          .sub-nav-menu > li > ul > li > a:hover {
            text-decoration: underline; }

.home-head {
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  padding: 24px 0;
  background: white;
  background: #24051e; }
  .home-head:before, .home-head:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .home-head:after {
    clear: both; }
  .home-head h1 {
    /*width: 39 * $unit;*/
    /*padding: 2 * $unit 0;*/
    /*float: left;*/
    font-size: 64px;
    line-height: 80px;
    color: #E7E7E7; }
  .home-head h2 {
    font-weight: normal;
    color: #E7E7E7;
    width: 632px;
    float: right;
    font-size: 32px;
    line-height: 80px;
    font-style: italic; }
  .home-head p {
    color: #f2f2f2;
    /*width: 79 * $unit;*/
    /*float: right;*/
    font-size: 24px;
    line-height: 32px; }

.home-explanation {
  padding: 24px 0;
  color: #f2f2f2;
  background: #24051e; }
  .home-explanation p {
    clear: both;
    font-size: 24px;
    line-height: 32px;
    text-align: left; }

.home-intro {
  background: #eee;
  color: #490A3D;
  overflow: auto;
  padding: 32px 0; }
  .home-intro h2 {
    text-align: center;
    color: inherit; }

.home-intro-text {
  margin: 0 0 32px;
  font-size: 24px; }

.home-intro-item {
  width: 464px;
  clear: right;
  float: left;
  margin: 0 0 32px; }
  .home-intro-item:nth-child(odd) {
    float: right;
    /*background: red;*/ }
  .home-intro-item h3 {
    color: #BD1550;
    /*color: $white;*/
    /*color: $white;*/
    padding-bottom: 16px;
    text-align: center; }
    .home-intro-item h3 small {
      vertical-align: bottom; }
  .home-intro-item pre {
    background: #24051e;
    background: #CCC;
    background: white;
    color: #333; }
  .home-intro-item a {
    font-weight: bold; }
    .home-intro-item a:before {
      display: inline-block;
      width: 24px;
      line-height: 24px;
      border-radius: 50%;
      margin-right: 8px;
      text-align: center;
      background: #490A3D;
      color: white;
      content: "➤";
      /*content: "›";*/ }
  .home-intro-item + .home-intro-item {
    /*float: right;*/ }

.home-usps {
  background: #e7e7e7; }
  .home-usps .inner {
    overflow: auto;
    padding: 32px 0; }
  .home-usps h2 {
    text-align: center; }
  .home-usps + .home-usps {
    /*border-top: 1px solid #CCC;*/ }

.home-getstarted {
  /*background: $white;*/ }
  .home-getstarted .inner {
    overflow: auto;
    padding: 32px 0;
    text-align: center; }

.usp-list {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  /*-webkit-column-count: 3;*/
  /*-webkit-column-gap: 4 * $unit;*/ }
  .usp-list li {
    padding: 0 0 0 32px;
    margin: 0 32px 0 0;
    position: relative;
    width: 298.664px;
    float: left;
    font-size: 20px;
    line-height: 24px;
    padding: 16px;
    padding-left: 64px;
    color: #8A9B0F;
    /*background: mix($color5, white, 25%);*/
    border: 1px solid #8A9B0F;
    min-height: 104px;
    border-radius: 8px;
    font-weight: 400; }
    .usp-list li:before {
      /*color: $color5;*/
      /*color: $white;*/
      content: "✓";
      position: absolute;
      left: 16px;
      top: 32px;
      font-size: 48px;
      font-weight: bold; }
    .usp-list li .fa {
      position: absolute;
      left: 0;
      top: 0; }
    .usp-list li:nth-child(3n) {
      margin-right: 0; }

.usp-item {
  padding: 0;
  margin: 16px 0 0;
  width: 464px;
  position: relative; }
  .usp-item p {
    padding: 0;
    margin: 0; }
  .usp-item:nth-child(even) {
    float: left;
    clear: both; }
  .usp-item:nth-child(odd) {
    float: right; }

.home-examples {
  padding: 24px 0; }

.home-example {
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  clear: both;
  padding: 24px 0; }
  .home-example:before, .home-example:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .home-example:after {
    clear: both; }
  .home-example h2 {
    /*
    width: 40 * $unit;
    padding: 2 * $unit;
    float: left;
    text-align: right;
    */
    padding: 16px 0 16px 320px;
    /*
    small {
        display: block;
        font-size: 2 * $unit;
        line-height: 2 * $unit;
    }
    */ }
  .home-example p {
    width: 640px;
    padding: 16px 0;
    float: right;
    width: 312px;
    padding: 16px 0;
    float: left; }
  .home-example .home-example-more {
    /*width: 80 * $unit;*/
    /*float: right;*/
    padding: 8px 0;
    clear: right;
    width: 632px;
    float: right; }
  .home-example pre {
    width: 632px;
    float: right; }

.content-head {
  padding: 24px 0;
  background: white;
  text-align: center;
  background: #490A3D;
  color: #f2f2f2; }
  .content-head .inner h1 {
    color: #f2f2f2; }

.content {
  background: #f2f2f2; }
  .content .inner {
    /*width: 80 * $unit;*/
    border-left: 300px solid #e7e7e7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    background: white; }
  .content h2 {
    padding-top: 32px; }
  .content h3 {
    padding-top: 16px; }
  .content pre {
    /*width: 100 * $unit;*/
    margin: 16px 0;
    /*margin-left: -10 * $unit;*/ }
    .content pre + pre {
      margin-top: -15px; }
  .content ul {
    padding: 8px 0; }
    .content ul li {
      list-style: square; }
      .content ul li + li {
        margin-top: 8px; }
  .content dl {
    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    padding: 8px 0; }
    .content dl:before, .content dl:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .content dl:after {
      clear: both; }
    .content dl dt {
      width: 192px;
      text-align: right;
      float: left;
      clear: both;
      /*padding: 0 2 * $unit;*/
      padding: 0; }
      .content dl dt ~ dt {
        margin-top: 8px; }
    .content dl dd {
      width: 416px;
      float: right;
      clear: right; }
      .content dl dd ~ dd {
        margin-top: 8px; }
  .content a {
    font-weight: 400; }
  .content .intro {
    padding: 32px 0;
    font-size: 24px;
    line-height: 32px;
    font-style: italic; }
    .content .intro em {
      font-weight: bold; }
  .content .note {
    padding: 16px;
    margin: 16px 0;
    border-left: 8px solid #CCC;
    border-right: 8px solid #CCC;
    font-style: italic;
    position: relative; }
    .content .note:before, .content .note:after {
      content: '';
      border-top: 8px solid #CCC;
      border-bottom: 8px solid #CCC;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 16px; }
    .content .note:before {
      left: 0; }
    .content .note:after {
      right: 0; }

.content-nosidebar .inner {
  border-left: none;
  padding-left: 160px;
  padding-right: 160px; }

.api-item {
  margin: 16px 0 0;
  margin: 4px -16px 0;
  padding: 8px 16px;
  /*border: 1px solid white;*/
  /*background: rgba(255, 255, 255, 0.5);*/
  background: #f2f2f2;
  position: relative; }
  .api-item pre {
    background: #e7e7e7; }
  .api-item code {
    background: rgba(255, 255, 255, 0.5);
    padding: 0 4px; }
  .api-item dl {
    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    padding: 8px 0; }
    .api-item dl:before, .api-item dl:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .api-item dl:after {
      clear: both; }
    .api-item dl dt {
      width: auto;
      text-align: left;
      float: none;
      padding: 0;
      margin: 0 0 0 0px; }
      .api-item dl dt ~ dt {
        margin-top: 16px; }
    .api-item dl dd {
      width: auto;
      float: none;
      clear: right;
      margin: 0 32px; }
      .api-item dl dd ~ dd {
        margin-top: 0; }

footer {
  background: #f2f2f2;
  color: #666;
  line-height: 48px;
  text-align: center; }
  footer a:link {
    color: #E97F02; }
    footer a:link:hover {
      text-decoration: underline; }

.main-feature h3 {
  /*text-align: center;*/ }

/*
.feature-left,
.feature-right {
    width: 36 * $unit;
}

.feature-left {
    float: left;
    position: relative;

    &:after {
        content: "+";
        position: absolute;
        right: -6 * $unit;
        top: 50%;
        width: 6 * $unit;
        height: 6 * $unit;
        text-align: center;
        font-size: 4 * $unit;
    }
}

.feature-right {
    float: right;
}

.feature-sum {
    clear: both;
}
*/
.content-features .inner {
  position: relative; }

.main-feature {
  margin: 16px 0;
  padding: 8px 16px 8px 176px;
  /*border: 1px solid white;*/
  background: rgba(255, 255, 255, 0.5);
  background: #f2f2f2;
  position: relative; }
  .main-feature h3 {
    position: absolute;
    left: 16px;
    width: 144px; }

.feature-events,
.feature-tolerance {
  margin-bottom: 80px; }
  .feature-events:after,
  .feature-tolerance:after {
    font-size: 64px;
    line-height: 80px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    text-align: center; }

.feature-events:after {
  content: "+"; }

.feature-tolerance:after {
  content: "="; }

.highlight {
  background: #FF3; }

/*# sourceMappingURL=styles.css.map */
